---
interface Props {
  question: string;
  correct: string;
  wrong1: string;
  wrong2: string;
}

const { question, correct, wrong1, wrong2 } = Astro.props;
const answers = [correct, wrong1, wrong2];

// Randomize order
for (let i = answers.length - 1; i > 0; i--) {
  const j = Math.floor(Math.random() * (i + 1));
  [answers[i], answers[j]] = [answers[j], answers[i]];
}
---

<select-correct data-correct={correct} data-wrong1={wrong1} data-wrong2={wrong2}>
  <h3>Test deg selv!</h3>
  <p>{question}</p>
  <div class="answers">
    {
      answers.map((option) => {
        return (
          <button class="option">
            <p>{option}</p>
          </button>
        );
      })
    }
    <button class="reveal">Vis svar</button>
    <button class="reset" hidden="hidden">Prøv igjen</button>
  </div>
</select-correct>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-KD4HLKED4P"></script>

<script>
  class Selection extends HTMLElement {
    constructor() {
      super();

      const buttons = this.querySelectorAll('button.option') as NodeListOf<HTMLButtonElement>;
      if (buttons == undefined) return;
      const correctButton = this.dataset.correct;
      const resetButton = this.querySelector('button.reset') as HTMLButtonElement;
      if (resetButton == undefined) return;
      resetButton.hidden = true;
      const revealButton = this.querySelector('button.reveal') as HTMLButtonElement;
      if (revealButton == undefined) return;

      buttons.forEach((button) => {
        button.addEventListener('click', (event) => {
          const target = event.currentTarget as HTMLElement; // typecasting event.currentTarget til HTMLElement
          const isCorrect = target.textContent?.trim() === correctButton;
          if (isCorrect) {
            button.classList.add('correct');
            //@ts-ignore
            window.dataLayer = window.dataLayer || [];
            function gtag() {
              //@ts-ignore
              dataLayer.push(arguments);
            }
            //@ts-ignore
            gtag('event', 'correct', {
              event_category: 'Quiz',
              event_label: 'Correct answer',
            });
          } else {
            button.classList.add('wrong');
            //@ts-ignore
            window.dataLayer = window.dataLayer || [];
            function gtag() {
              //@ts-ignore
              dataLayer.push(arguments);
            }
            //@ts-ignore
            gtag('event', 'wrong', {
              event_category: 'Quiz',
              event_label: 'Correct answer',
            });
          }
          buttons.forEach((btn) => (btn.disabled = true)); // Disable all buttons after answer
          revealButton.disabled = true; // Disable reveal answer after choice is made
          resetButton.hidden = true;
        });
      });

      resetButton.addEventListener('click', () => {
        buttons.forEach((btn) => {
          btn.disabled = false; // Re-enable buttons
          btn.classList.remove('correct', 'wrong'); // Reset classes if any
        });
        revealButton.disabled = false;
        resetButton.hidden = true;
      });

      revealButton.addEventListener('click', () => {
        buttons.forEach((btn) => {
          const isCorrect = btn.textContent?.trim() === correctButton;
          btn.classList.add(isCorrect ? 'correct' : 'wrong'); // Add class based on whether the button is the correct answer
        });
        resetButton.hidden = false;
      });
    }
  }

  customElements.define('select-correct', Selection);
</script>

<style>
  h3 {
    margin-top: 2rem;
  }

  .correct {
    /* styles for correct answer */
    background-color: #538c55;
  }

  .wrong {
    /* styles for wrong answers */
    background-color: #c46059;
  }

  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    row-gap: 2rem;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem !important;
    padding: 1rem;
  }

  .option:disabled {
    color: var(--sl-color-white);
  }

  .reveal,
  .reset {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 0rem !important;
    padding: 0.2rem;
  }

  button {
    border-radius: 0.5rem;
  }
</style>
